
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos (Tiempo Real)</title>
</head>
<body>
    <div>
        <h1>Listado de Productos (Tiempo Real)</h1>

        <ul class="list-group" id="productList">
          
        </ul>
    </div>

    
    <script src="/socket.io/socket.io.js"></script>
    <script>
       
        const socket = io();

        socket.on('productUpdate', (product) => {
         
            fetch('/api/products')
                .then(response => response.json())
                .then(products => renderProductList(products.payload))
                .catch(error => console.error('Error al obtener productos:', error));
        });

       
        function renderProductList(products) {
            const productList = document.getElementById('productList');
            productList.innerHTML = ''; 

            products.forEach(product => {
                const listItem = document.createElement('li');
                listItem.classList.add('list-group-item');
                listItem.innerHTML = `
                    <img src="/static/img/${product.thumbnail}" alt="${product.title}" style="max-width: 100px;">
                    <h3>${product.title}</h3>
                    <p>${product.description}</p>
                    <p>Precio: $${product.price}</p>
                    <p>Código: ${product.code}</p>
                    <p>Stock: ${product.stock}</p>
                `;
                productList.appendChild(listItem);
            });
        }

        
        document.addEventListener('DOMContentLoaded', () => {
            fetch('/api/products')
                .then(response => response.json())
                .then(products => renderProductList(products.payload))
                .catch(error => console.error('Error al obtener productos:', error));
        });
    </script>
</body>
</html>
